@import "variables";
@import "fonts";
@import "menu";
@import "footer";
@import "home";
@import "internas";

*,
*::before,
*::after {
    box-sizing: inherit;
}

*::selection{
    background-color: $color-black;
    color:$color-white;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}

body{
    margin:0;
    padding:0;
    background-color: $color-white;
    overflow-x: hidden;
}

ul{
    list-style: none;
    margin:0;
    padding:0;
}

a{
    transition: all .2s ease-in;
}

.container {
    width: 90%;
    margin: 0 5%;
    // border: 1px solid red;
}

@media only screen and (min-width: 1140px){
    .container {
        max-width: 150rem;
        margin: 0 auto;
    }
}

.main-title{
    text-transform: uppercase;
    text-align:center;
    margin:10 auto;
    font-size: 4.5rem;
    font-weight: 300;
    color:#666;
}

.project-name{
    font-weight: 400;
    color:#666;
    margin-bottom: 4.5rem;
    font-size: 2.558rem;
}